<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> About | EVOLVE</title>
  <link rel="stylesheet" href="../static/about.css">
  <link rel="stylesheet" href="../static/style.css">

  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body oncontextmenu="return false">
  <!-- Header Design -->
  <header class="header">
    <a href="{{ url_for('index')}}" class="logo">
      <img src="../static/images/logo.png" alt="EVOLVE Logo">
      <span class="logo-title">EVOLVE.</span>
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <nav class="navbar">
      <a href="{{ url_for('index')}}">Home</a>
      <a href="{{ url_for('about')}}" class="active">About</a>
      <a href="{{ url_for('theory_corner')}}">Theory Corner</a>
      <a href="{{ url_for('tutorial')}}">Tutorial</a>
      <a href="{{ url_for('contact_us')}}">Contact Us</a>
      <a href="{{ url_for('login')}}">Login</a>
    </nav>
  </header>

  <section class="basic" id="basic">
    <h2 class="heading">About <span>EVOLVE</span></h2>

    <div class="basic-content">
      <h3>Ever wondered if you can optimise the process of species evolution? Predict the future mutations in a species?
        With EVOLVE, it's totally possible!!!</h3>
      <p>Welcome to our website, dedicated to streamlining the process of viral surveillance and prediction of
        future mutations. Our website is designed to help biologists predict the epidemiological existence of a species and
        the growth trajectory that the organism can take. Our statistical-mechanics guided machine learning model, along with
        the Mutational Response Function, allows us to predict the phase transition of any virus from its ancestor to offspring.</p>
      <br>
      <p>At our website, users can upload their sequence data in fasta format, and our platform will handle the preprocessing
        without any hassle or manual labor. Our platform also provides feature calculation, enabling users to build their
        own multilayer perceptron architecture and train the model to predict future mutational residues. This allows users
        to create custom models that can predict the future mutations of a virus with great accuracy.</p>
      <br>
      <p>The Mutational Response Function is a parameter that we have extensively developed to predict the phase transition
        of any virus from its ancestor to offspring. By using this function, users can calculate the probability of a
        particular mutation occurring, and this allows them to predict the future trajectory of the virus.</p>
      <br>
      <p>Our website is designed to provide a streamlined flow to users, especially biologists, allowing them to predict the
        future of a virus with greater accuracy and ease. We are committed to providing the best possible tools to help our
        users make informed decisions about viral surveillance and management.</p>
    </div>
  </section>

  <section class="people" id="people">
    <h2 class="heading">Meet the <span>Team</span></h2>
    <div class="team-members">
      <div class="team-member">
        <img src="../static/images/ss.jfif" alt="Team Member 1" class="member-image" style="max-width:100%; height:70%;">
        <h3>Satyam Sangeet</h3>
        <h4>Lead Developer</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Satyam-Sangeet" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=GgF3yTYAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://linkedin.com/in/satyam-sangeet-a8a604119" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/psychedelic2007" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://orcid.org/0000-0002-8274-6775" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/satyam_san20" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/sr.png" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Dr. Susmita Roy</h3>
        <h4>PI</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Susmita-Roy-3" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=2vfozlQAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://orcid.org/0000-0001-6411-4347" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/susmitajanaroy" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/as.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Anushree Sinha</h3>
        <h4>Ph.D.</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Anushree-Sinha-4" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=wF9tegQAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://twitter.com/AnushreeSinha18" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/rs.jpg" alt="Team Member 2" class="member-image" style="max-width: 110%; height: 70%">
        <h3>Raju Sarkar</h3>
        <h4>Ph.D.</h4>
        <div class="social-media-icons">
          <a href="researchgate_link" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=W3QkqoQAAAAJ&hl=en&authuser=1" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://twitter.com/sarkar2966" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/madhav.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%">
        <h3>Madhav</h3>
        <h4>BS-MS</h4>
        <div class="social-media-icons">
          <a href="https://github.com/resilient-emu227" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://orcid.org/0009-0004-7092-6682" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/resilientemu227" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/arpita.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Arpita Mahata</h3>
        <h4>Project Student</h4>
        <div class="social-media-icons">
          <a href="https://github.com/ArpitaML" target="_blank"><i class="fab fa-github"></i></a>
          <a href="linkedin.com/in/arpita-mahata-558007273" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>      
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <span class="footer-logo">EVOLVE</span>
            <br>
            <span class="footer-copyright">&copy; 2023 EVOLVE</span>
            <br>
            <span class="footer-copyright1"><a href="https://www.drsusmitaroy.com/" target="_blank">Dr. Susmita Roy's Group</a>. All rights reserved</span>
        </div>

        <div class="footer-links">
            <a href="#faq" onclick="openPopup('FAQ')">FAQ |</a>
            <a href="{{ url_for('contact_us')}}">Contact |</a>
            <a href="#policy" onclick="openPopup('Policy')">Policy |</a>
            <a href="#terms" onclick="'openPopup('Terms & Conditions')">Terms and Conditions |</a>
        </div>
    </div>
</footer>

<div id="popup-overlay-faq"></div>
<div id="popup-container-faq">
    <div id="popup-header-faq">
        <span id="popup-close-faq" onclick="closePopup('faq')" style="font-size: 20px;">&times;</span>
    </div>
    <div id="popup-content-faq">
        <h3>FAQs</h3>
        <br>
        <h4>Is ARIAS Free?</h4>
        <p>ChatPDF allows you to use it for free with 4 PDFs every day, each up to 150 pages. For more,
            you can upgrade to the Pro plan for $5 per month. For additional information, check the pricing page.</p>
        <br>
        <h4>What about the privacy of my files?</h4>
        <p>ARIAS never shares your file with anyone. They are stored on a secure cloud storage and can be deleted anytime.</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../static/js/script.js"></script>
</body>
</html>