<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> About | EVOLVE</title>
  <link rel="stylesheet" href="../static/about.css">
  <link rel="stylesheet" href="../static/style.css">

  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body oncontextmenu="return false">
  <!-- Header Design -->
  <header class="header">
    <a href="{{ url_for('index')}}" class="logo">
      <img src="../static/images/logo.png" alt="EVOLVE Logo">
      <span class="logo-title">EVOLVE.</span>
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <nav class="navbar">
      <a href="{{ url_for('index')}}">Home</a>
      <a href="{{ url_for('about')}}" class="active">About</a>
      <a href="{{ url_for('theory_corner')}}">Theory Corner</a>
      <a href="{{ url_for('tutorial')}}">Tutorial</a>
      <a href="{{ url_for('contact_us')}}">Contact Us</a>
      <a href="{{ url_for('login')}}">Login</a>
    </nav>
  </header>

  <section class="basic" id="basic">
    <h2 class="heading">About <span>EVOLVE</span></h2>

    <div class="basic-content">
      <h3>Ever wondered if you can optimise the process of species evolution? Predict the future mutations in a species?
        With EVOLVE, it's totally possible!!!</h3>
      <p>Welcome to our website, dedicated to streamlining the process of viral surveillance and prediction of
        future mutations. Our website is designed to help biologists predict the epidemiological existence of a species and
        the growth trajectory that the organism can take. Our statistical-mechanics guided machine learning model, along with
        the Mutational Response Function, allows us to predict the phase transition of any virus from its ancestor to offspring.</p>
      <br>
      <p>At our website, users can upload their sequence data in fasta format, and our platform will handle the preprocessing
        without any hassle or manual labor. Our platform also provides feature calculation, enabling users to build their
        own multilayer perceptron architecture and train the model to predict future mutational residues. This allows users
        to create custom models that can predict the future mutations of a virus with great accuracy.</p>
      <br>
      <p>The Mutational Response Function is a parameter that we have extensively developed to predict the phase transition
        of any virus from its ancestor to offspring. By using this function, users can calculate the probability of a
        particular mutation occurring, and this allows them to predict the future trajectory of the virus.</p>
      <br>
      <p>Our website is designed to provide a streamlined flow to users, especially biologists, allowing them to predict the
        future of a virus with greater accuracy and ease. We are committed to providing the best possible tools to help our
        users make informed decisions about viral surveillance and management.</p>
    </div>
  </section>

  <section class="people" id="people">
    <h2 class="heading">Meet the <span>Team</span></h2>
    <div class="team-members">
      <div class="team-member">
        <img src="../static/images/ss.jfif" alt="Team Member 1" class="member-image" style="max-width:100%; height:70%;">
        <h3>Satyam Sangeet</h3>
        <h4>Lead Developer</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Satyam-Sangeet" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=GgF3yTYAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://linkedin.com/in/satyam-sangeet-a8a604119" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/psychedelic2007" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://orcid.org/0000-0002-8274-6775" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/satyam_san20" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://psychedelic2007.github.io/portfolio" target="_blank"><i class="fa-regular fa-globe"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/sr.png" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Dr. Susmita Roy</h3>
        <h4>PI</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Susmita-Roy-3" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=2vfozlQAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://orcid.org/0000-0001-6411-4347" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/susmitajanaroy" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/as.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Anushree Sinha</h3>
        <h4>Ph.D.</h4>
        <div class="social-media-icons">
          <a href="https://www.researchgate.net/profile/Anushree-Sinha-4" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=wF9tegQAAAAJ&hl=en" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://twitter.com/AnushreeSinha18" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/rs.jpg" alt="Team Member 2" class="member-image" style="max-width: 110%; height: 70%">
        <h3>Raju Sarkar</h3>
        <h4>Ph.D.</h4>
        <div class="social-media-icons">
          <a href="researchgate_link" target="_blank"><i class="fab fa-researchgate"></i></a>
          <a href="https://scholar.google.com/citations?user=W3QkqoQAAAAJ&hl=en&authuser=1" target="_blank"><i class="fab fa-google"></i></a>
          <a href="https://twitter.com/sarkar2966" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/madhav.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%">
        <h3>Madhav</h3>
        <h4>BS-MS</h4>
        <div class="social-media-icons">
          <a href="https://github.com/resilient-emu227" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://orcid.org/0009-0004-7092-6682" target="_blank"><i class="fab fa-orcid"></i></a>
          <a href="https://twitter.com/resilientemu227" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <div class="team-member">
        <img src="../static/images/arpita.jpg" alt="Team Member 2" class="member-image" style="max-width: 100%; height: 70%;">
        <h3>Arpita Mahata</h3>
        <h4>Project Student</h4>
        <div class="social-media-icons">
          <a href="https://github.com/ArpitaML" target="_blank"><i class="fab fa-github"></i></a>
          <a href="linkedin.com/in/arpita-mahata-558007273" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>      
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <span class="footer-logo">EVOLVE</span>
            <br>
            <span class="footer-copyright">&copy; 2023 EVOLVE</span>
            <br>
            <span class="footer-copyright1"><a href="https://www.drsusmitaroy.com/" target="_blank">Dr. Susmita Roy's Group</a>. All rights reserved</span>
        </div>

        <div class="footer-links">
            <a href="#faq" onclick="openPopup('FAQ')">FAQ |</a>
            <a href="{{ url_for('contact_us')}}">Contact |</a>
            <a href="#policy" onclick="openPopup('Policy')">Policy |</a>
            <a href="#terms" onclick="'openPopup('Terms & Conditions')">Terms and Conditions |</a>
        </div>
    </div>
</footer>

<div id="popup-overlay-faq"></div>
    <div id="popup-container-faq">
        <div id="popup-header-faq">
            <span id="popup-close-faq" onclick="closePopup('faq')" style="font-size: 20px;">&times;</span>
        </div>
        <div id="popup-content-faq">
            <h3>Frequently Asked Questions</h3>
            <br>
            <h4>Is EVOLVE Free?</h4>
            <p>Yes! EVOLVE is free. All you need to do is just create an account and start using the service.</p>
            <br>
            <h4>Does EVOLVE store user data?</h4>
            <p>EVOLVE ensures user privacy and data security. Uploaded files and analysis results are stored temporarily for each session and are accessible only 
                to the respective user. Data is not retained after the session ends.</p>
            <br>
            <h4>How can I use EVOLVE?</h4>
            <p>To utilize EVOLVE, navigate through the available functionalities provided on the website. Each function might require specific inputs such as 
                protein/genomic sequence files or certain parameters, which will be prompted accordingly.</p>
            <br>
            <h4>What file formats are supported by EVOLVE?</h4>
            <p>EVOLVE supports standard file formats like FASTA for protein/genomic sequences and CSV for certain analysis result outputs. Specific details about 
                supported formats are provided within each function's documentation.</p>
            <br>
            <h4>Is EVOLVE suitable for beginners?</h4>
            <p>Yes, EVOLVE is designed with a user-friendly interface, making it suitable for users with varying levels of expertise. Additionally, each function 
                is accompanied by clear instructions and guidelines for seamless usage.</p>
            <br>
            <h4>How accurate are the predictions made by EVOLVE's machine learning models?</h4>
            <p>The accuracy of predictions may vary based on various factors and the complexity of the analysis. EVOLVE aims to provide reliable results; however, 
                accuracy may differ based on the nature and quality of the input data.</p>
            <br>
            <h4>Can I download the analysis results from EVOLVE?</h4>
            <p>Yes, EVOLVE allows users to download the analysis results generated by each function. Results are typically available in downloadable formats like 
                CSV, images, or specific output files, depending on the analysis.</p>
            <br>
            <h4>Who can I contact for support or inquiries regarding EVOLVE?</h4>
            <p>For any support, inquiries, or feedback related to EVOLVE, users can reach out to the support team through the "Contact Us" section provided on the website.</p>
        </div>
    </div>

    <div id="popup-overlay-term"></div>
    <div id="popup-container-term">
        <div id="popup-header-term">
            <span id="popup-close-term" onclick="closePopup('term')" style="font-size: 20px;">&times;</span>
        </div>
        <div id="popup-content-term">
            <h3>Terms & Conditions</h3>
            <br>
            <p>By accessing and using EVOLVE, you agree to comply with these Terms and Conditions, our Privacy Policy, and all applicable laws and regulations.</p>
            <br>
            <p>EVOLVE offers a platform for protein/genomic sequence analysis and evolutionary analysis tools accessible through our website.</p>
            <br>
            <p>Users must provide accurate information and maintain the security of their account credentials.</p>
            <br>
            <p>Use of EVOLVE should be in compliance with applicable laws and regulations.</p>
            <br>
            <p>EVOLVE ensures user privacy and data security. Uploaded files and analysis results are stored temporarily for each session and are accessible only 
                to the respective user.</p>
            <br>
            <p>Data is not retained after the session ends. Refer to our Privacy Policy for detailed information.</p>
            <br>
            <p>Users retain ownership of their data. However, content generated by EVOLVE, including analysis results and algorithms, remains the property of EVOLVE.</p>
            <br>
            <p>EVOLVE is provided "as is" without warranties of any kind. We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages.</p>
            <br>
            <p>EVOLVE reserves the right to modify, suspend, or terminate the service at any time. Users will be notified of significant changes to these terms.</p>
            <br>
            <p>EVOLVE reserves the right to terminate or suspend user accounts for any violation of these terms or misuse of the service.</p>
            <br>
            <p>These Terms and Conditions shall be governed and construed in accordance with the laws of India, without regard to its conflict of law provisions.</p>
            <br>
            <p>For any questions, inquiries, or feedback regarding these Terms and Conditions, users can contact our support team through the "Contact Us" section on the website.</p>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../static/js/script.js"></script>
</body>
</html>
