<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@NaN,0,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/entropy.css">
    <title>Entropy Calculation | EVOLVE</title>
</head>

<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="../static/images/logo.png">
                    <h2>EVO<span class="danger">LVE</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('dashboard')}}">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/preprocessing">
                    <span class="material-symbols-outlined">schema</span>
                    <h3>Preprocessing</h3>
                </a>
                <a href="/entropy" class="active">
                    <span class="material-icons-sharp">bar_chart</span>
                    <h3>Entropy Calculation</h3>
                </a>
                <a href="/mrf">
                    <span class="material-symbols-outlined">schema</span>
                    <h3>Mutational Response Function</h3>
                </a>
                <a href="/feature1">
                    <span class="material-symbols-outlined">stat_1</span>
                    <h3>Feature 1</h3>
                </a>
                <a href="/feature3">
                    <span class="material-symbols-outlined">stat_2</span>
                    <h3>Feature 2</h3>
                </a>
                <a href="/prediction">
                    <span class="material-symbols-outlined">batch_prediction</span>
                    <h3>Prediction</h3>
                </a>
                <a href="/tutorial_dashboard">
                    <span class="material-symbols-outlined">psychology</span>
                    <h3>Tutorial</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <main>
            <h1>Entropy Calculation</h1>
            <div class="new-users">
                <div class="user-list">
                    <div class="user-info">
                        <div class="user-details">
                            <form action="/calculate_entropy" method="post" enctype="multipart/form-data">
                                <label>How many files would you like to upload?</label>
                                <select name="num_files" id="num-files-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>

                                <div id="file-upload-section"></div>
                                <hr>
                                <div class="form-row">
                                    <label for="start_point">Starting Residue Position:</label>
                                    <input type="number" id="start_point" name="start_point">
                                </div>

                                <div class="form-row">
                                    <label for="end_point">Ending Residue Position:</label>
                                    <input type="number" id="end_point" name="end_point">
                                </div>
                                <hr>
                                <input type="submit" value="Submit">
                            </form>
                            <p id="error" style="color:red; display:none;">Upload failed. Please try again</p>
                        </div>
                    </div>
                    <!-- Results section -->
                    {% if combined_data %}
                    <div class="results">
                        <h2>Results:</h2>
                        {% for plot, data in combined_data %}
                        <a href="{{ plot }}" download>
                            <img src="{{ plot }}" alt="Entropy Plot">
                            Download Image
                        </a>
                        
                        <a href="{{ data}}" download>
                            Download Entropy Data
                        </a>
                        {% endfor %}
                        <!-- Add code to display other results if needed -->
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>

        <!-- Your existing HTML content -->
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp">light_mode</span>
                    <span class="material-icons-sharp active">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p id="user-greeting">Hey, <b id="user-name-placeholder">{{ user.username}}</b></p>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>
            </div>
            <!-- End of Nav -->
        </div>
    </div>

    <script src="../static/js/entropy.js"></script>
    <script src="../static/js/preprocessing.js"></script>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>
