<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@NaN,0,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/model_test.css">
    <title>Phylogenetics | BioMutate</title>
</head>

<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="images/logo.png">
                    <h2>Bio<span class="danger">Mutate</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('dashboard')}}">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/preprocessing">
                    <span class="material-symbols-outlined">schema</span>
                    <h3>Preprocessing</h3>
                </a>
                <a href="/entropy">
                    <span class="material-icons-sharp">bar_chart</span>
                    <h3>Entropy Calculation</h3>
                </a>
                <a href="/mrf">
                    <span class="material-symbols-outlined">schema</span>
                    <h3>Mutational Response Function</h3>
                </a>
                <a href="/feature1">
                    <span class="material-symbols-outlined">stat_1</span>
                    <h3>Feature 1</h3>
                </a>
                <a href="/feature2">
                    <span class="material-symbols-outlined">stat_2</span>
                    <h3>Feature 2</h3>
                </a>
                <a href="/feature3">
                    <span class="material-symbols-outlined">stat_3</span>
                    <h3>Feature 3</h3>
                </a>
                <a href="/phylogenetics">
                    <span class="material-icons-sharp">phylogenetics</span>
                    <h3>Phylogenetics</h3>
                </a>
                <a href="/model_train">
                    <span class="material-icons-sharp">model_training</span>
                    <h3>Model Training</h3>
                </a>
                <a href="/model_test" class="active">
                    <span class="material-symbols-outlined">query_stats</span>
                    <h3>Model Testing</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <main>
            <h1>Phylogenetics</h1>
            <div class="new-users">
                <div class="user-list">
                    <div class="user-info">
                        <div class="user-details">
                            <!-- Add id attribute to form for jQuery selection -->
                            <form id="model-predict-form" enctype="multipart/form-data">
                                <label for="file">Upload your tree file</label>
                                <input type="file" id="file" name="file" accept=".nh">
                                <br>
                                <input type="submit" value="Submit" id="submit-btn">
                            </form>
                            <p id="error" style="color:red; display:none;">Upload failed. Please try again</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="progress" style="display: none;">
                <p id="progress-text" class="progress-text">Processing...</p>
            </div>
        
            <!-- Display result -->
            <div id="result-container" style="display: none;">
                <h2>Phylogenetics</h2>
                <!-- Container to display the prediction plot -->
                <div class="plot-container"></div>
            </div>
        </main>

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp">light_mode</span>
                    <span class="material-icons-sharp active">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p id="user-greeting">Hey, <b id="user-name-placeholder">{{ user.username}}</b></p>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
        </div>
    </div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // Wait for the DOM to be ready
        $(document).ready(function () {
            // Handle form submission
            $('#model-predict-form').submit(function (e) {
                e.preventDefault();
                let formData = new FormData(this);

                // Show progress bar or processing icon
                $('#progress').show();

                $.ajax({
                    url: '/model_test',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Hide progress bar or processing icon
                        $('#progress').hide();

                        console.log(data);  // Check the data received in the console
                        
                        // Display prediction plot if available
                        if (data && Object.keys(data).length > 0) {
                            console.log('Plot data available');
                            $('#result-container').show();
                            let predictionData = data[Object.keys(data)[0]].prediction_data;
                            let imageSrc = `data:image/png;base64,${predictionData}`;
                            console.log('Image source:', imageSrc);
                            $('.plot-container').html(`<img src="${imageSrc}" alt="Prediction Plot">`);
                        } else {
                            console.log('No data received');
                            // Show an error message if no data is received
                            alert('No data received. Please try again.');
                        }
                    },
                    error: function () {
                        console.log('An error occurred');
                        alert('An error occurred during processing.');
                        // Hide progress bar or processing icon
                        $('#progress').hide();
                    }
                });
            });
        });
    </script>
    <script src="../static/javascript/feature1.js"></script>
    <script src="../static/js/preprocessing.js"></script>
    <script src="../static/js/dashboard.js"></script>
    <script src="../static/js/model_test.js"></script>
</body>

</html>
